In [31]:
import pandas as pd
import numpy as np
datset=pd.read_csv("C:\\Users\\Srianvika S\\Downloads\\archive\\insta.csv.csv")
dataset
a = np.array([[1, 2], [3, 4]]) 
print a

,Unnamed: 0,Rank,Username,Owner,Followers(millions)[2],Profession/Activity,Country/Continent
0,0,1,@instagram,Instagram,586,Social media platform,United States
1,1,2,@cristiano,Cristiano Ronaldo,531,Footballer,Portugal
2,2,3,@leomessi,Lionel Messi,417,Footballer,Argentina
3,3,4,@kyliejenner,Kylie Jenner,377,"Television personality, model and businesswoman",United States
4,4,5,@selenagomez,Selena Gomez,367,"Musician, actress, and businesswoman",United States
5,5,6,@therock,Dwayne Johnson,356,Actor and professional wrestler,United States
6,6,7,@arianagrande,Ariana Grande,347,"Musician, actress and businesswoman",United States
7,7,8,@kimkardashian,Kim Kardashian,339,"Television personality, model and businesswoman",United States
8,8,9,@beyonce,Beyoncé,289,"Musician, actress and businesswoman",United States
9,9,10,@khloekardashian,Khloé Kardashian,287,Television personality and model,United States
10,10,11,@justinbieber,Justin Bieber,272,Musician,Canada
11,11,12,@kendalljenner,Kendall Jenner,268,Model and television personality,United States
12,12,13,@nike,Nike,261,Sportswear multinational,United States
13,13,14,@natgeo,National Geographic,254,Magazine,United States
14,14,15,@taylorswift,Taylor Swift,239,Musician and actress,United States
15,15,16,@virat.kohli,Virat Kohli,231,Cricketer,India
16,16,17,@jlo,Jennifer Lopez,230,Musician and actress,United States
17,17,18,@kourtneykardash,Kourtney Kardashian,208,Television personality and model,United States
18,18,19,@nickiminaj,Nicki Minaj,207,Musician,Trinidad and Tobago United States
19,19,20,@neymarjr,Neymar,200,Footballer,Brazil
20,20,21,@mileycyrus,Miley Cyrus,192,Musician and actress,United States
21,21,22,@katyperry,Katy Perry,185,Musician,United States
22,22,23,@zendaya,Zendaya,163,Actress and singer,United States
23,23,24,@kevinhart4real,Kevin Hart,162,Comedian and actor,United States
24,24,25,@iamcardib,Cardi B,148,Musician and actress,United States
25,25,26,@ddlovato,Demi Lovato,146,Musician and actress,United States
26,26,27,@kingjames,LeBron James,141,Basketball player,United States
27,27,28,@badgalriri,Rihanna,139,Musician and businesswoman,Barbados
28,28,29,@realmadrid,Real Madrid CF,130,Football club,Spain
29,29,30,@ellendegeneres,Ellen DeGeneres,129,Comedian and television personality,United States
30,30,31,@chrisbrownofficial,Chris Brown,128,Musician,United States
31,31,32,@champagnepapi,Drake,128,Musician,Canada
32,32,33,@fcbarcelona,FC Barcelona,115,Football club,Spain
33,33,34,@billieeilish,Billie Eilish,107,Musician,United States
34,34,35,@championsleague,UEFA Champions League,101,Club football competition,Europe
35,35,36,@k.mbappe,Kylian Mbappé,93.5,Footballer,France
36,36,37,@gal_gadot,Gal Gadot,93.3,Actress,Israel
37,37,38,@dualipa,Dua Lipa,87.6,Musician,United Kingdom Albania
38,38,39,@nasa,NASA,86.3,Space agency,United States
39,39,40,@lalalalisa_m,Lisa,86.1,Musician,Thailand
40,40,41,@vindiesel,Vin Diesel,85.5,Actor,United States
41,41,42,@priyankachopra,Priyanka Chopra,84.3,Actress and musician,India
42,42,43,@khaby00,Khaby Lame,80.1,Social media personality,Italy Senegal
43,43,44,@snoopdogg,Snoop Dogg,78.7,Musician,United States
44,44,45,@shakira,Shakira,78.1,Musician,Colombia
45,45,46,@shraddhakapoor,Shraddha Kapoor,77.1,Actress,India
46,46,47,@davidbeckham,David Beckham,76.8,"Former footballer, president of Inter Miami",United Kingdom
47,47,48,@gigihadid,Gigi Hadid,76.5,Model,United States
48,48,49,@nba,NBA,74.3,Club basketball competition,United States
49,49,50,@aliaabhatt,Alia Bhatt,73.9,Actress and musician,United Kingdom India
50,50,As of 4 January 2023,As of 4 January 2023,As of 4 January 2023,As of 4 January 2023,As of 4 January 2023,As of 4 January 2023

In [22]:
dataset.head()

,Unnamed: 0,Rank,Username,Owner,Followers(millions)[2],Profession/Activity,Country/Continent
0,0,1,@instagram,Instagram,586,Social media platform,United States
1,1,2,@cristiano,Cristiano Ronaldo,531,Footballer,Portugal
2,2,3,@leomessi,Lionel Messi,417,Footballer,Argentina
3,3,4,@kyliejenner,Kylie Jenner,377,"Television personality, model and businesswoman",United States
4,4,5,@selenagomez,Selena Gomez,367,"Musician, actress, and businesswoman",United States

In [33]:
a = np.array([[1, 2], [3, 4]]) 
print(a)

[[1 2]
 [3 4]]

In [34]:
dataset.min()

Unnamed: 0                          0
Rank                                1
Username                  @aliaabhatt
Owner                      Alia Bhatt
Followers(millions)[2]            101
Profession/Activity             Actor
Country/Continent           Argentina
dtype: object

In [35]:
dataset.max()

Unnamed: 0                                                             50
Rank                                                 As of 4 January 2023
Username                                             As of 4 January 2023
Owner                                                             Zendaya
Followers(millions)[2]                               As of 4 January 2023
Profession/Activity       Television personality, model and businesswoman
Country/Continent                                           United States
dtype: object